#viking {
  max-width: 100%;
  max-height: 100%;
}

#vikingContainer {
  height: 300px;
  width: 300px;
}

#logoContainer {
	width: 300px;
	height: 361px;
	margin: auto;
}

#logoheader {
	margin: auto;
	text-align: center;
	font-size: 53px;
}

#signinContainer,
#signupContainer {
	width: 300px;
	margin: auto;
}

#signinHeader,
#signupHeader {
	margin: auto;
	text-align: center;
	font-size: 30px; 
}

#signinForm,
#signupForm {
	margin-top: 15px;
}

button {
	float: right;
}

input[type="text"],
input[type="password"] {
    width: 300px;
    margin:auto;
}

a, u {
    text-decoration: none;
}
