#viking {
  max-width: 100%;
  max-height: 100%;
}

#vikingContainer {
  height: 300px;
  width: 300px;
}

#logoContainer {
	width: 300px;
	height: 361px;
	margin: auto;
}

#logoheader {
	margin: auto;
	text-align: center;
	font-size: 53px;
}

#signinContainer,
#signupContainer {
	width: 300px;
	margin: auto;
}

#signinHeader,
#signupHeader {
	margin: auto;
	text-align: center;
	font-size: 30px; 
}

#signinForm,
#signupForm {
	margin-top: 15px;
}

#group {
	width:305px;
	margin:auto;
}

button{
    float: right;
	height: 27px;
    width: 79px;
    font-size: small;
}


input[type="text"],
input[type="password"] {
    width: 300px;
    margin: auto;
    height: 23px;
    font-size: inherit;
}

a, u {
    text-decoration: none;
}
 
body{
    margin: 0;
    padding: 0;
    font-size: 15px;
}

nav {
    background-color: #333;
    margin: 0;
    overflow: hidden;
}

nav ul{
    margin: 0;
    padding: 0;
}
nav ul li {
    /* This allow us to arrange list items in a row, without using float */
    display: inline-block;
    list-style-type: none;
}

/* Create a style for the first level items */
nav > ul > li > a {
    color: #aaa;
    background-color:#333;
    display: block;
    line-height: 2em;
    padding: 0.5em 0.5em;
    text-decoration: none;
    cursor: pointer;
    cursor: hand;
}
