<div id="signup">
<!-- container for logo and h1 header -->
  <div id="logoContainer">
	  <h1 id="logoheader">Pillager</h1>
		<div id="vikingContainer">
			<img id="viking" src="../assets/viking.png" alt="">
		</div>
  </div>
<!-- container for sign up form and h2 header -->
  <div id="signupContainer">
		<h2 id="signupHeader">Create an account</h2>
			<div id="signupForm">
			<form name="signupForm" ng-submit='signup()'>
				<label>Enter an email address</label><br>
				  <input type="text" ng-model="user.email"><br><br>
				<label>Create a password</label><br>
				  <input type="password" ng-model="user.password"><br><br>
				<div id="group">
					<a href="#/signin">Already have an account? Login!</a>
					<button>Submit</button>
				</div>
			</form>	
		</div>
  </div>

</div>